<h1>Pilot Room</h1>

<app-pilot *ngFor="let pilot of pilots"
           [pilot]="pilot"
           [class.selected]="selectedPilot === pilot">
  <button *ngIf="selectedPilot !== pilot; else deselectButton"
          class="select-button" (click)="select(pilot)">
    Zaznacz
  </button>
  <ng-template #deselectButton>
    <button class="deselect-button" (click)="select(null)">
      Odznacz
    </button>
  </ng-template>
  <button [routerLink]="['pilots', pilot.id]" class="edit-button">
    Edytuj
  </button>
</app-pilot>
<button [routerLink]="['pilots', 'new']" class="add-button">
  Dodaj
</button>
